NEXT_PUBLIC_SITE_URL=https://projectmisfitsrp.com
NEXT_PUBLIC_DISCORD_URL=https://discord.gg/hHrSekGueH
NEXT_PUBLIC_FIVEM_ADDRESS=178.239.199.29
NEXT_PUBLIC_FIVEM_CONNECT=fivem://connect/178.239.199.29
FIVEM_HOST=178.239.199.29
FIVEM_PORT=30120
DISCORD_INVITE_CODE=hHrSekGueH
ADMIN_USERNAME=
ADMIN_PASSWORD=
NEXT_PUBLIC_INTRO_AUDIO_URL=

OWNER_USERNAME=
OWNER_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
